/*!
 *  Persian Fonts 1.0 by @morteza-motiee - http://ravaj.ir
 *  License - (Font: MIT License, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
    font-family: 'IRBadr';
    src: url('../fonts/IRBadr.eot');
    src: url('../fonts/IRBadr.eot?#iefix&v=1.0') format('embedded-opentype'),
         url('../fonts/IRBadr.woff') format('woff'),
         url('../fonts/IRBadr.ttf') format('truetype'),
         url('../fonts/IRBadr.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IRBadr';
    src: url('../fonts/IRBadrBold.eot');
    src: url('../fonts/IRBadrBold.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRBadrBold.woff') format('woff'),
    url('../fonts/IRBadrBold.ttf') format('truetype'),
    url('../fonts/IRBadrBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'IRBadr';
    src: url('../fonts/IRBadrIranic.eot');
    src: url('../fonts/IRBadrIranic.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRBadrIranic.woff') format('woff'),
    url('../fonts/IRBadrIranic.ttf') format('truetype'),
    url('../fonts/IRBadrIranic.svg') format('svg');
    font-weight: normal;
    font-style: italic, oblique;
}
/*////////////////////////////////////////////////////////////*/
@font-face {
    font-family: 'IRCompset';
    src: url('../fonts/IRCompset.eot');
    src: url('../fonts/IRCompset.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRCompset.woff') format('woff'),
    url('../fonts/IRCompset.ttf') format('truetype'),
    url('../fonts/IRCompset.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IRCompset';
    src: url('../fonts/IRCompsetBold.eot');
    src: url('../fonts/IRCompsetBold.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRCompsetBold.woff') format('woff'),
    url('../fonts/IRCompsetBold.ttf') format('truetype'),
    url('../fonts/IRCompsetBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'IRCompset';
    src: url('../fonts/IRCompsetIranic.eot');
    src: url('../fonts/IRCompsetIranic.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRCompsetIranic.woff') format('woff'),
    url('../fonts/IRCompsetIranic.ttf') format('truetype'),
    url('../fonts/IRCompsetIranic.svg') format('svg');
    font-weight: normal;
    font-style: italic, oblique;
}
/*////////////////////////////////////////////////////////////*/
@font-face {
    font-family: 'IRLotus';
    src: url('../fonts/IRLotus.eot');
    src: url('../fonts/IRLotus.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRLotus.woff') format('woff'),
    url('../fonts/IRLotus.ttf') format('truetype'),
    url('../fonts/IRLotus.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IRLotus';
    src: url('../fonts/IRLotusBold.eot');
    src: url('../fonts/IRLotusBold.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRLotusBold.woff') format('woff'),
    url('../fonts/IRLotusBold.ttf') format('truetype'),
    url('../fonts/IRLotusBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'IRLotus';
    src: url('../fonts/IRLotusIranic.eot');
    src: url('../fonts/IRLotusIranic.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRLotusIranic.woff') format('woff'),
    url('../fonts/IRLotusIranic.ttf') format('truetype'),
    url('../fonts/IRLotusIranic.svg') format('svg');
    font-weight: normal;
    font-style: italic, oblique;
}
/*////////////////////////////////////////////////////////////*/
@font-face {
    font-family: 'IRMitra';
    src: url('../fonts/IRMitra.eot');
    src: url('../fonts/IRMitra.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRMitra.woff') format('woff'),
    url('../fonts/IRMitra.ttf') format('truetype'),
    url('../fonts/IRMitra.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IRMitra';
    src: url('../fonts/IRMitraBold.eot');
    src: url('../fonts/IRMitraBold.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRMitraBold.woff') format('woff'),
    url('../fonts/IRMitraBold.ttf') format('truetype'),
    url('../fonts/IRMitraBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'IRMitra';
    src: url('../fonts/IRMitraIranic.eot');
    src: url('../fonts/IRMitraIranic.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRMitraIranic.woff') format('woff'),
    url('../fonts/IRMitraIranic.ttf') format('truetype'),
    url('../fonts/IRMitraIranic.svg') format('svg');
    font-weight: normal;
    font-style: italic, oblique;
}
/*////////////////////////////////////////////////////////////*/
@font-face {
    font-family: 'IRNazanin';
    src: url('../fonts/IRNazanin.eot');
    src: url('../fonts/IRNazanin.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRNazanin.woff') format('woff'),
    url('../fonts/IRNazanin.ttf') format('truetype'),
    url('../fonts/IRNazanin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IRNazanin';
    src: url('../fonts/IRNazaninBold.eot');
    src: url('../fonts/IRNazaninBold.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRNazaninBold.woff') format('woff'),
    url('../fonts/IRNazaninBold.ttf') format('truetype'),
    url('../fonts/IRNazaninBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'IRNazanin';
    src: url('../fonts/IRNazaninIranic.eot');
    src: url('../fonts/IRNazaninIranic.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRNazaninIranic.woff') format('woff'),
    url('../fonts/IRNazaninIranic.ttf') format('truetype'),
    url('../fonts/IRNazaninIranic.svg') format('svg');
    font-weight: normal;
    font-style: italic, oblique;
}
/*////////////////////////////////////////////////////////////*/
@font-face {
    font-family: 'IRRoya';
    src: url('../fonts/IRRoya.eot');
    src: url('../fonts/IRRoya.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRRoya.woff') format('woff'),
    url('../fonts/IRRoya.ttf') format('truetype'),
    url('../fonts/IRRoya.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IRRoya';
    src: url('../fonts/IRRoyaBold.eot');
    src: url('../fonts/IRRoyaBold.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRRoyaBold.woff') format('woff'),
    url('../fonts/IRRoyaBold.ttf') format('truetype'),
    url('../fonts/IRRoyaBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'IRRoya';
    src: url('../fonts/IRRoyaIranic.eot');
    src: url('../fonts/IRRoyaIranic.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRRoyaIranic.woff') format('woff'),
    url('../fonts/IRRoyaIranic.ttf') format('truetype'),
    url('../fonts/IRRoyaIranic.svg') format('svg');
    font-weight: normal;
    font-style: italic, oblique;
}
/*////////////////////////////////////////////////////////////*/
@font-face {
    font-family: 'IRTerafik';
    src: url('../fonts/IRTerafik.eot');
    src: url('../fonts/IRTerafik.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRTerafik.woff') format('woff'),
    url('../fonts/IRTerafik.ttf') format('truetype'),
    url('../fonts/IRTerafik.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IRTerafik';
    src: url('../fonts/IRTerafikBold.eot');
    src: url('../fonts/IRTerafikBold.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRTerafikBold.woff') format('woff'),
    url('../fonts/IRTerafikBold.ttf') format('truetype'),
    url('../fonts/IRTerafikBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'IRTerafik';
    src: url('../fonts/IRTerafikIranic.eot');
    src: url('../fonts/IRTerafikIranic.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRTerafikIranic.woff') format('woff'),
    url('../fonts/IRTerafikIranic.ttf') format('truetype'),
    url('../fonts/IRTerafikIranic.svg') format('svg');
    font-weight: normal;
    font-style: italic, oblique;
}
/*////////////////////////////////////////////////////////////*/
@font-face {
    font-family: 'IRTitr';
    src: url('../fonts/IRTitr.eot');
    src: url('../fonts/IRTitr.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRTitr.woff') format('woff'),
    url('../fonts/IRTitr.ttf') format('truetype'),
    url('../fonts/IRTitr.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*////////////////////////////////////////////////////////////*/
@font-face {
    font-family: 'IRYakout';
    src: url('../fonts/IRYakout.eot');
    src: url('../fonts/IRYakout.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRYakout.woff') format('woff'),
    url('../fonts/IRYakout.ttf') format('truetype'),
    url('../fonts/IRYakout.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IRYakout';
    src: url('../fonts/IRYakoutBold.eot');
    src: url('../fonts/IRYakoutBold.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRYakoutBold.woff') format('woff'),
    url('../fonts/IRYakoutBold.ttf') format('truetype'),
    url('../fonts/IRYakoutBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'IRYakout';
    src: url('../fonts/IRYakoutIranic.eot');
    src: url('../fonts/IRYakoutIranic.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRYakoutIranic.woff') format('woff'),
    url('../fonts/IRYakoutIranic.ttf') format('truetype'),
    url('../fonts/IRYakoutIranic.svg') format('svg');
    font-weight: normal;
    font-style: italic, oblique;
}
/*////////////////////////////////////////////////////////////*/
@font-face {
    font-family: 'IRYekan';
    src: url('../fonts/IRYekan.eot');
    src: url('../fonts/IRYekan.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRYekan.woff') format('woff'),
    url('../fonts/IRYekan.ttf') format('truetype'),
    url('../fonts/IRYekan.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IRYekan';
    src: url('../fonts/IRYekanBold.eot');
    src: url('../fonts/IRYekanBold.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRYekanBold.woff') format('woff'),
    url('../fonts/IRYekanBold.ttf') format('truetype'),
    url('../fonts/IRYekanBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
/*////////////////////////////////////////////////////////////*/
@font-face {
    font-family: 'IRZar';
    src: url('../fonts/IRZar.eot');
    src: url('../fonts/IRZar.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRZar.woff') format('woff'),
    url('../fonts/IRZar.ttf') format('truetype'),
    url('../fonts/IRZar.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IRZar';
    src: url('../fonts/IRZarBold.eot');
    src: url('../fonts/IRZarBold.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRZarBold.woff') format('woff'),
    url('../fonts/IRZarBold.ttf') format('truetype'),
    url('../fonts/IRZarBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'IRZar';
    src: url('../fonts/IRZarIranic.eot');
    src: url('../fonts/IRZarIranic.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('../fonts/IRZarIranic.woff') format('woff'),
    url('../fonts/IRZarIranic.ttf') format('truetype'),
    url('../fonts/IRZarIranic.svg') format('svg');
    font-weight: normal;
    font-style: italic, oblique;
}